
.container

  .page-header
    h1 List of documents

  div(ng-controller="DocList")

    doc-items(items="items")

    form
      fieldset
        legend New document
      .row-fluid
        .offset2.span8
          doc-add-form(apply="addItem(title, description)")
