

.app-loading
  display inline-block
  vertical-align top
  padding-right

  .animation
    transition all 0.25s linear
    background embedurl('embed/spinner.gif') center center no-repeat
    background-size contain
    width $base-line-height
    height $base-line-height
    display block
    &.ready
      opacity 0
    &.loading
      opacity 1

