
.item
  .navbar &
    padding (($navbar-height - $base-line-height) / 2) 15px (($navbar-height - $base-line-height) / 2)
    color $navbar-text
    line-height  $base-line-height
  .navbar-inverse &
    color $navbar-inverse-text


