
.form(ng-form="form")
  .control-group
    .controls
      input.input-block-level(type="text", placeholder="Title...", ng-model="doc.title", required, enter-key-apply="apply(doc)")
  .control-group
    .controls
      textarea.input-block-level(rows="2", placeholder="Description...", ng-model="doc.description")

  .control-group
    .controls
      .pull-right
        button.btn.btn-primary(type="button", ng-click="apply(doc)", ng-disabled="form.$invalid") Submit