
li.media
  .media-body
    .pull-right
      button.btn.btn-danger.btn-mini(ng-click="item.$remove()") remove
    h4.media-heading {{ item.title }}
    | {{ item.description }}
    p
      a(ng-href="#!/{{item.id}}") read more