
form(name="form")
  dl.dl-horizontal
    dt Title:
    dd
      div(ng-hide="$doc.local.$editable.title")
        div {{$doc.model.title}}
          | &nbsp;
          .btn.btn-success.btn-mini(ng-click="$doc.local.$editable.title=true") edit
      div(ng-show="$doc.local.$editable.title")
        .input-append
          input.span7(type="text", ng-model="$doc.local.title", enter-key-apply="$doc.save()", required)
          button.btn.btn-primary(type="button", ng-click="$doc.save()", ng-disabled="form.$invalid")
            i.icon-white.icon-ok
            | &nbsp;save
          button.btn(type="button", ng-click="$doc.local.$editable.title=false")
            i.icon-ban-circle

    dt Description:
    dd
      div(ng-hide="$doc.local.$editable.description")
        div {{$doc.model.description}}
          | &nbsp;
          .btn.btn-success.btn-mini(ng-click="$doc.local.$editable.description=true") edit
      div(ng-show="$doc.local.$editable.description")
        div
          textarea.span8(rows="2", ng-model="$doc.local.description")
          br
          .btn-group
            button.btn.btn-primary(type="button", ng-click="$doc.save()", ng-disabled="form.$invalid")
              i.icon-white.icon-ok
              | &nbsp;save
            button.btn(type="button", ng-click="$doc.local.$editable.description=false")
              i.icon-ban-circle