
.container
  nav.navbar
    .navbar-inner
      .navbar-text &copy;&nbsp;
        a.muted(href="http://betula.co", target="_blank") Betula
        .pull-right
          img(src="https://github.com/fluidicon.png", width="20", height="20")
          | &nbsp;
          a.muted(href="https://github.com/betula/ng-test", target="_blank") View github repo
